<div class="threecol">
    <h3>MailChimp Newsletter</h3>
    <p>Set the MailChimp list Id for your newsletter.</p>
</div>
<div class="ninecol last">
    <fieldset class="widget widget-content widget-last widget-dynamic-top-margin">
        <div class="row">
            <div class="twelvecol">
                <div class="form-group form-last">
                    <%= f.label 'List Id' %>
                    <%= f.text_field :mailchimp_list_id, :class => 'form-control' %>
                </div>
            </div>
        </div>
    </fieldset>
</div>